.image_cont {
	position: relative;
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.image_cont img {
	position: relative;
	width: 80%;
}

.rel_flex {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 140%;
}