.copyright_cont {
	position: relative;
	height: 100%;
	/*width: 30%;*/
	right: 0;
	/*border: 1px solid white;*/
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: flex-end;
}

.footer_icon {
	position: relative;
	height: 50%;
	margin-right: 10px;
}

.footer_icon:hover {
	/*position: absolute;*/
	bottom: 0;
	height: 60%;
	transition: height 0.2s linear;
}

.footer_icon:hover .copyright_cont {
	align-items: flex-end;
}