<div class="details_container">
	<div>
		<div class="label_cont">
			<strong class="label">{{ mod_strings.LBL_NAME }}:&nbsp;&nbsp;</strong>	
		</div>
		<div class="info_cont">
			<span>{{ film_data.name }}</span>
		</div>
	</div>
	<div>
		<div class="label_cont">
			<strong class="label">{{ mod_strings.LBL_RELEASE_DATE }}:&nbsp;</strong>	
		</div>
		<div class="info_cont">
			<span>{{ film_data.year }}</span>
		</div>
	</div>
	<!-- <div>
		<div class="label_cont">
			<strong class="label">{{ mod_strings.LBL_LANGUAGE }}:&nbsp;</strong>
		</div>
		<div class="info_cont">
			<span>{{ film_data.lang }}</span>
		</div>
	</div> -->
	<div>
		<div class="label_cont">
			<strong class="label">{{ mod_strings.LBL_DESCRIPTION }}:&nbsp;</strong>	
		</div>
		<div class="info_cont">
			<span>{{ film_data.description }}</span>
		</div>
	</div>
	<div>
		<div class="label_cont">
			<strong class="label">&nbsp;</strong>	
		</div>
		<div class="info_cont">
			<img src="{{ film_data.img }}">
		</div>
	</div>
</div>
