.button_image {
	position: relative;
	max-height: 100%;
	max-width: 100%;
}

.social_button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social_container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.social_link {
	position: relative;
	height: 50px;
	margin-right: 10px;
	margin-left: 10px;
}