<h2 class="text_header gray_text">Login</h2>
<form #login_form="ngForm">
	<div class="field_container">
		<input type="text" #name="ngModel" [class.invalid_field]="name.invalid && name.touched" name="login" class="form_field" placeholder="Login" [(ngModel)]="form_data.login">
	</div>
	<div class="field_container">
		<input type="password" #password="ngModel" name="password" class="form_field" placeholder="Password" [class.invalid_field]="password.invalid && password.touched" [(ngModel)]="form_data.password">
	</div>
	<div class="field_container">
		<p class="text_header"><a routerLink="">Forgot your password?</a></p>
	</div>
	<div class="field_container">
		<p class="text_header"><a routerLink="/register">Join us</a></p>
	</div>
	<button class="main_button" type="button" (click)="login()"><strong class="button_text white">Login</strong></button>
</form>