<h2 class="text_header gray_text">{{ app_strings.LBL_LOGIN }}</h2>
<form #login_form="ngForm">
	<div class="field_container">
		<input type="text" #name="ngModel" [class.invalid_field]="name.invalid && name.touched" name="login" class="form_field" placeholder="{{ app_strings.LBL_LOGIN }}" [(ngModel)]="form_data.login" required>
		<span class="error_text" *ngIf="name.invalid && name.touched">{{ app_strings.LBL_ERROR_EMPTY }}</span>
	</div>
	<div class="field_container">
		<input type="password" #password="ngModel" name="password" class="form_field" placeholder="{{ app_strings.LBL_PASSWORD }}" [class.invalid_field]="password.invalid && password.touched" [(ngModel)]="form_data.password" required>
		<span class="error_text" *ngIf="password.invalid && password.touched">{{ app_strings.LBL_ERROR_EMPTY }}</span>
	</div>
	<div *ngIf="success === false" class="field_container">
		<!-- <span class="error_text" >{{ app_strings.LBL_INVALID_LOGIN_PASSWORD }}</span> -->
		<p *ngFor="let error of errors;" class="error_text">{{ error }}</p>
	</div>
	<div class="field_container">
		<p class="text_header"><a routerLink="/restore/forgot">{{ app_strings.LBL_FROGOT_PASSWORD }}?</a></p>
	</div>
	<div class="field_container">
		<p class="text_header"><a routerLink="/register">{{ app_strings.LBL_JOIN_US }}</a></p>
	</div>
	<button class="main_button" type="button" (click)="login()" [disabled]="password.invalid || name.invalid" [class.button_disabled]="name.invalid || password.invalid"><strong class="button_text white">{{ app_strings.LBL_LOGIN }}</strong></button>
	<h3 class="text_header gray_text">Sign in with social accounts</h3>
	<div class="field_container">
		<div class="social_container">
			<a href="{{intra_link}}" class="social_link"><img class="button_image" [src]="logo_42"></a>
		</div>
		
	</div>
</form>