.main_section {
	position: relative;
	top: 65px;
	/*left: -0.3%;*/
	width: 99vw;
	height: 75vh;
	border-top: 2px solid rgba(200, 200, 200, 0.1);
	overflow-y: auto;
	overflow-x: hidden;
}

.app-footer {
	position: absolute;
	width: 100vw;
	height: 10vh;
	min-height: 100px; 
	bottom: 0;
	left: 0;
	background: linear-gradient(#444444, #222222);
}
