<h2 class="text_header gray_text">{{ header }}</h2>
<form *ngIf="errors.length == 0 && form_data.action == 'forgot' && header != ''" #login_form="ngForm">
	<div class="field_container">
		<input type="email" #e_mail="ngModel" [class.invalid_field]="e_mail.invalid && e_mail.touched" name="email" class="form_field" placeholder="{{ app_strings.LBL_EMAIL }}" [(ngModel)]="form_data.email" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' required>
		<span class="error_text" *ngIf="e_mail.invalid && e_mail.touched">{{ app_strings.LBL_ERROR_EMPTY }}</span>
	</div>
	<button class="main_button" type="button" (click)="recover_password()" [disabled]="e_mail.invalid" [class.button_disabled]="e_mail.invalid"><strong class="button_text white">{{ app_strings.LBL_SUBMIT }}</strong></button>
</form>
<form *ngIf="errors.length == 0 && form_data.action == 'recover' && header != ''" #login_form="ngForm">
	<div class="field_container">
		<input type="password" #password="ngModel" name="password" class="form_field" placeholder="{{ app_strings.LBL_PASSWORD }}" [class.invalid_field]="password.invalid && password.touched" [(ngModel)]="form_data.password" minlength="8" required>
		<span class="error_text" *ngIf="password.errors && password.errors.required && password.touched">{{ app_strings.LBL_ERROR_EMPTY }}</span>
		<span class="error_text" *ngIf="password.errors && password.errors.minlength && password.touched">{{ app_strings.LBL_8_MIN_LENGTH }}</span>
	</div>
	<div class="field_container">
		<input type="password" #password_confirmation="ngModel" name="password_confirmation" class="form_field" placeholder="{{ app_strings.LBL_PASSWORD_AGAIN }}" [class.invalid_field]="password.invalid && password.touched" [(ngModel)]="form_data.password_confirmation" minlength="8" required>
		<span class="error_text" *ngIf="password_confirmation.errors && password_confirmation.errors.required && password_confirmation.touched">{{ app_strings.LBL_ERROR_EMPTY }}</span>
		<span class="error_text" *ngIf="password_confirmation.errors && password_confirmation.errors.minlength && password_confirmation.touched">{{ app_strings.LBL_8_MIN_LENGTH }}</span>
		<span class="error_text" *ngIf="password.valid && password_confirmation.valid && form_data.password != form_data.password_confirmation">{{ app_strings.LBL_ERROR_PASSWORDS_NOT_MATCH }}</span>
	</div>
	<button class="main_button" type="button" (click)="recover_password()" [disabled]="password.invalid || password_confirmation.invalid" [class.button_disabled]="password.invalid || password_confirmation.invalid"><strong class="button_text white">{{ app_strings.LBL_SUBMIT }}</strong></button>
</form>
