.tool_icon {
	position: relative;
	height: 100%;
}

.profile_link {
	color: #eeeeee;
}

.profile_link:hover {
	color: #ff2222;
	transition: color 0.3s linear;
	cursor: pointer;
}

.lang_dropdown {
	top: 25%;
	height: 50%;
	background: none;
	border: none; 
	color: rgba(255,255,255,0.8);
}