.slider_image {
	position: relative;
	width: 100%;
}

.slider_cont {
	position: relative;
	width: 100%;
	max-height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.slider_button {
	position: absolute;
	width: 3%;
	height: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.right {
	right: 0;
}

.slider_button img {
	width: 80%;
}

.slider_button:hover {
	opacity: 1;
	background: rgba(255,255,255,0.1);
}

.results_cont {
	position: relative;
	width: 80%;
	left: 10%;
}

.search_result {
	position: relative;
	width: 20%;
	max-height: 80%;
	max-width: 350px;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px #cccccc;
	transition: box-shadow 0.3s linear;
}


.result_img {
	position: relative;
	width: 80%;
	max-height: 60%;
	left: 10%;
	max-height: 60%;
	margin-bottom: 20px;
}

.search_result:hover {
	box-shadow: 0px 0px 3px 3px #cccccc;
	transition: box-shadow 0.3s linear;
	cursor: pointer;
}

.search_result:hover .description_text {
	opacity: 1;
	transition: opacity 0.5s linear;
}

.movie_name:hover {
	color: #555555;
	transition: color 0.3s linear;
}

.description_text {
	position: relative;
	width: 80%;
	left: 10%;
	background: none;
	border: none; 
	height: 100px;
	overflow: hidden;
	resize: none;
	opacity: 0;
}

.result_description {
}

.movie_name {
	position: relative;
	width: 80%;
	left: 10%;
}

@media (max-height: 800px) {
	.search_result {
		max-width: 230px;
	}
}