.profile_form {
	position: relative;
	width: 30%;
	max-width: 400px;
	left: 35%;
}

.file_upload_cstm {
	background-color: white;
}

.file_buttons {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end; 
}

.file_buttons > .main_button {
	position: relative;
	left: unset;
	width: unset;
	border: none;
	height: 100%;
}

.browse_icon {
	position: relative;
	height: 80%;
	margin-right: 3px;
}

.browse_icon:hover {
	cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 27.2px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20.8px;
  width: 20.8px;
  left: 3.2px;
  bottom: 3.2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(255,20,20,0.9);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(255,20,20,0.9);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20.8px);
  -ms-transform: translateX(20.8px);
  transform: translateX(20.8px);
}

.slider.round {
  border-radius: 27.2px;
}

.slider.round:before {
  border-radius: 50%;
}

.file_name {
	position: absolute;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center; 
}

.profile_form {
	position: relative;
	border-radius: 10px;
	padding: 20px;
}

.edit_button {
	position: absolute;
	opacity: 0;
	width: 15px;
	right: 10px;
	top: 10px;
}

.profile_form.enable_edit {
	box-shadow: 0px 0px 3px 3px #cccccc !important;
}

.enable_edit {
	opacity: 1;
}

.editable {
	z-index: 11;
}

.editable:hover {
	box-shadow: 0px 0px 3px 3px #cccccc;
	transition: box-shadow 0.3s linear;
}

.editable:hover .edit_button {
	opacity: 1;
	transition: opacity 0.3s linear;
	cursor: pointer;
}

.history_preview {
	display: flex;
	justify-content: center;
}

.history_preview_item {
	position: relative;
	display: inline-block;
	width: 24%;
	border: 1px solid blue;
}

.movie_preview_image {
	position: relative;
	width: 100%;
}

.history_cont {
	margin-top: 20px;
}

.search_result {
	position: relative;
	width: 18.5%;
	max-width: 300px;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px #cccccc;
	transition: box-shadow 0.3s linear;
	margin-left: 1%;
}


.result_img {
	position: relative;
	width: 80%;
	left: 10%;
	max-height: 80%;
	margin-bottom: 20px;
}

.search_result:hover {
	box-shadow: 0px 0px 3px 3px #cccccc;
	transition: box-shadow 0.3s linear;
	cursor: pointer;
}