<div class="field_container">
	<input type="text" name="search" class="form_field" placeholder="{{ app_strings.LBL_SEARCH_PLACEHOLDER }}">
	<button class="main_button" type="button"><strong class="button_text white">{{ app_strings.LBL_SEARCH }}</strong></button>
</div>
<div class="field_container">
	<a href="#" (click)="show_advanced()" style="width: 83%">
		<small>{{ app_strings.LBL_ADVANCED_SEARCH }}&nbsp;<small *ngIf="!advanced">&#10147;</small><small *ngIf="advanced">&#11163;</small></small>
	</a>
</div>
<form #login_form="ngForm">
	<div *ngIf="advanced" class="field_container">
		<div *ngFor="let key of keys;" class="advaced_cont">
			<input type="checkbox" [name]="key" [checked]="filters[key]" [(ngModel)]="groups_visible[key]">
			<small>&nbsp;{{ key }}</small>
			<div *ngIf="groups_visible[key]">
				<div *ngFor="let filt of groups[key]" style="margin-left: 10px;">
					<input type="checkbox" [name]="filt" [checked]="filters[key][filt]" [(ngModel)]="filters[key][filt]">
					<small>&nbsp;{{ filt }}</small>
				</div>
			</div>
		</div>
	</div>
</form>