.form_field {
	width: 87%;
	margin-right: 1%;
	border-color: #dddddd;
}

.field_container {
	position: relative;
	width: 70%;
	left: 15%;
	/*float: right;*/
}

.main_button {
	height: 32px;
	width: 10%;
	min-width: 70px;
	/*max-width: 170px;*/
	/*margin-left: 1%;*/
}

.advaced_cont {
	position: relative;
	width: 25%;
	display: flex;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

.advanced_button > small {
	text-decoration: none;
	color: rgba(80,80,255,0.8);
}

.advanced_button {
	border: none;
	background: none;
	font-size: 100%;
}

.form_field {
	display: inline;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}