.form_field {
	width: 87%;
	margin-right: 1%;
	border-color: #dddddd;
}

.field_container {
	position: relative;
	width: 70%;
	left: 15%;
	/*float: right;*/
	/*display: flex;
	justify-content: center;
	align-items: flex-start;*/
}

.main_button {
	height: 32px;
	width: 10%;
	min-width: 70px;
	/*max-width: 170px;*/
	/*margin-left: 1%;*/
}

.advaced_cont {
	position: relative;
	width: 27%;
	margin-left: 0.5%;
	margin-right: 0.5%;
}