.notification_button {
	position: relative;
	height: 70%;
	width: 70%;
	background-color: white;
	border-radius: 50%;
	border: 3px solid rgba(255,20,20,0.9); 
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_container {
	position: relative;
	height: 48px;
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.notification_button:hover {
	background-color: #cccccc;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
}

.notification_button strong {
	font-size: 100%;
}

.notification_cont {
	position: absolute;
	top: 60px;
	right: 0;
	width: 300px;
	height: 200px;
	border-radius: 10px;
	z-index: 10;
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
	overflow-x: hidden;
	overflow-y: auto;
	background-color: white;
}

.single_notification {
	position: relative;
	width: 98%;
	height: 30%;
	padding: 5px;
	margin-top: 10px;
	border-top: 1px solid #eeeeee;
	display: flex;
	align-items: center;
	/*border: 1px solid red;*/
}

.close_button {
	position: absolute;
	right: 10px;
	top: 5px;
}

.close_button:hover {
	cursor: pointer;
}

.low_index {
	z-index: -1;
}