<div class="button_container">
	<div class="notification_button" (click)="show_hide()">
		<strong>{{ qty }}</strong>
	</div>
	<div class="notification_cont"  [@notification_container]="current_state">
		<div *ngFor="let notification of notifications;" class="single_notification">
			<span class="close_button"><a (click)="remove_notification(notification.id)">X&nbsp;{{ mod_strings.LBL_CLEAR }}</a></span>
			<span>
				<span>{{ mod_strings.LBL_USER }}&nbsp;</span>
				<a routerLink="/profile/{{notification.from.id}}" (click)="remove_notification(notification.id)">{{ notification.from.login }}&nbsp;</a>
				<span>{{ mod_strings.LBL_MENTIONED_YOU }}&nbsp;</span>
				<a routerLink="/watch/{{notification.movie.id}}" (click)="remove_notification(notification.id)">{{ notification.movie.name }}&nbsp;</a>
			</span>
		</div>
	</div>
</div>
