<div class="comments_cont">
	<h3 class="gray_text">Comments({{ comments.length }})</h3>
	<div *ngIf="comments.length > 0">
		<div *ngFor="let item of comments;" class="single_comment">
			<div class="comment_avatar_cont">
				<img *ngIf="item.avatar && item.avatar != ''" [src]="base_url + item.avatar" class="comment_avatar">
				<img *ngIf="!item.avatar" [src]="avatar" class="comment_avatar">
			</div>
			<div class="comment_wrapper">
				<a routerLink="/profile/{{item.uid}}"><strong>{{ item.login }}</strong></a><br>
				<span class="gray_text">{{ item.comment }}</span>
			</div>
		</div>
	</div>
	<form class="add_comment_form" #comment_form="ngForm">
		<div class="field_container">
			<textarea class="form_field" name="comment_text" #comment_text="ngModel" [(ngModel)]="comment_value" placeholder="Start type your comment here..." required></textarea>
			<button *ngIf="comment_text.valid" type="button" class="main_button" (click)="send_comment()"><strong class="button_text white">Send</strong></button>
		</div>
	</form>
</div>
<!-- <select class="form_field" #sort_order="ngModel" [(ngModel)]="filters.sort_order" name="sort_order" (change)="ngOnInit()"> -->