.comments_cont {
	position: relative;
	width: 70%;
	left: 15%;
	/*border: 1px solid red;*/
	margin-top: 20px;
	margin-bottom: 50px;
}

.single_comment {
	position: relative;
	/*height: 15vh;*/
	min-height: 60px;
	/*border: 2px solid black; */
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 20px;
	box-shadow: 0px 0px 3px 3px #cccccc;
	border-radius: 5px;
	/*border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;*/
	padding: 10px;
}

.comment_wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	padding-left: 10px;
	overflow-y: auto;
	overflow-x: hidden; 
	/*border: 1px solid green;*/
}

.comment_avatar {
	position: relative;
	height: 80px;
	top: 0;
	margin-top: 6px;
}

.comment_avatar_cont {
	position: relative;
	height: 100%;
	/*max-width: 30%;*/
	/*padding: 10px;*/
	left: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/*border: 1px solid blue;*/
}

.add_comment_form {
	/*border: 1px solid black;*/
}

.field_container {
	position: relative;
	width: 101.3%;
}

textarea.form_field {
	/*width: 70%;*/
	overflow-y: hidden;
	resize: none;
}

textarea.form_field:focus {
	overflow-y: auto;
	height: 100px;
	transition: height 0.2s ease-in 0.2s;
}

.add_comment_form .main_button {
	position: relative;
	height: 30px;
	float: right;
	margin-right: 1%;
	min-width: 60px;
}

.single_comment.editable:hover .comment_tools {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

.comment_tools {
	position: relative;
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	opacity: 0;
}

.comment_tool {
	position: relative;
	height: 60%;
	margin-right: 5px;
}

.comment_tool.round {
	position: relative;
	height: 80%;
}

.comment_tool:hover {
	cursor: pointer;
}
.edit_comment_button:hover {
	height: 70%;
	transition: height 0.1s ease-in;
}
.comment_tool.round:hover {
	background-color: #ff2222;
	transition: background-color 0.3s linear;
}

.comment_wrapper .form_field.non-editable {
	pointer-events:none;
	border: none;
	background: none;
}

.comment_tools .main_button {
	height: 100%;
	margin-right: 3px;
}

.suggest_area {
	background: white;
	height: unset;
	min-height: 50px;
	max-height: 100px;
	overflow-y: auto;
}

.single_suggest {
	position: relative;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 5px;
}

.single_suggest:hover {
	cursor: pointer;
	background: rgba(200,200,200,0.2);
	transition: background 0.2s ease-in;
}

.suggest_avatar {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	border: 1px solid rgba(200,200,200,1);
	background: rgba(255,20,20,0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	margin-left: 5px;
}

.transparent {
	opacity: 0;
}
/*.comment_value.editable {
	pointer-events: unset;
	border
}*/